{% extends 'base.html' %}
{% load static %}

{% block title %}Registrarse{% endblock %}

{% block content %}
<style>
.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
}

.card button {
  background-color: #808080; /* normal gray */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: none;
  width: auto;
  display: block;
  margin: 10px auto 0 auto;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px 25px 10px 25px;
    margin: 10px 0;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center; 
}

</style>
    <div class="card">
        <h2>Registrarse</h2>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="password" name="password2" placeholder="Confirmar Contraseña" required>
            <button type="submit">Registrarse</button>
        </form>
    </div>
{% endblock %}
